results
*.mod

1_fortran_101/1_About_Fortran>Basics>hello_world
1_fortran_101/2_About_Fortran>Declarations
1_fortran_101/3_InputOutput>print
1_fortran_101/4_InputOutput>IOfiles
1_fortran_101/5_array_and_print
1_fortran_101/output.txt

2_fortran_mpi/1_hello_world_mpi
2_fortran_mpi/2_hello_world_mpi_w_barriers
2_fortran_mpi/3_mpi_send_recieve
2_fortran_mpi/4_mpi_scatter_gather

3_fortran_wave_function/3_fortran_wave_function

4_fortran_wave_function_mpi/4_fortran_wave_function_w_mpi